// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #27ae60;
@pssa-green:            #02B17A;
@pssa-green-lime:       #bbd06c;
@pssa-green-dark:       #01260c;
@green-line:  #9db153;
@pssa-orange:           #de5e2d;
@white:                 #ffffff;
@brown: #FFDF5A;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
